:root {
  --color-base: 31 27 54;
  --color-accented: 255 29 72;
  --color-inverted: 255 255 255;
  --color-accented-hover: 159 18 57;
  --color-muted: 55 65 81;
  --color-dimmed: 100 116 139;
  --color-error: 243 88 12;
  --color-error-hover: 185 28 28;
  --color-alternate: 251 113 133;
  --color-alternate-1: 0 76 84;
  --color-alternate-2: 8 145 178;

  --color-border-base: 209 213 219;
  --color-border-accented: var(--color-accented);
}

/* Custom CSS */

body {
  @apply font-sans antialiased text-skin-base;
}

.field {
  @apply sm:col-span-6;
}

.label {
  @apply block text-sm font-medium text-skin-base mb-1;
}

.label.input-error {
  @apply text-skin-error;
}

.input, select {
  @apply border-skin-base rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-skin-accented focus:border-skin-accented sm:text-sm;
}

.input.input-error, select.input-error {
  @apply border-skin-error focus:border-skin-error focus:ring-skin-error;
}

.help {
  @apply text-skin-dimmed text-sm mt-1;
}

.help.help-error {
  @apply text-skin-error;
}

.checkbox {
  @apply border-skin-base h-4 w-4 text-skin-accented focus:ring-skin-accented rounded;
}

.link {
  @apply text-sm font-medium text-skin-accented hover:text-skin-accented-hover hover:underline underline-offset-4;
}

.button {
  @apply inline-flex justify-center py-2 px-4 border border-skin-base rounded-md shadow-sm text-sm font-medium text-skin-muted bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-skin-accented cursor-pointer;
}

.button[disabled] {
  @apply bg-white bg-gray-50 cursor-default;
}

.button-accented {
  @apply border-transparent bg-skin-button-accented hover:bg-skin-button-accented-hover text-skin-inverted;
}

.button-accented[disabled] {
  @apply bg-skin-button-accented-hover cursor-default;
}

.button-alternate {
  @apply border-transparent bg-skin-alternate-2 hover:bg-skin-button-accented-hover text-skin-inverted;
}

.button-caution {
  @apply border-transparent bg-skin-button-caution hover:bg-skin-button-caution-hover text-skin-inverted;
}

.button .show-when-enabled {
  display: initial;
}

.button .show-when-disabled {
  display: none;
}

.button[disabled] .show-when-enabled {
  display: none;
}

.button[disabled] .show-when-disabled {
  display: initial;
}
